:root {
  --color-primary: #1D1B37;
  --color-primary-dark: #131227;

  --color-text-primary: #C3BFFA;
  --color-text-secondary: #B7B3EA;

  --color-accent: #796FF6;
  --color-warn: #DF69A8;
  --color-success: #4caf50;
  --color-light: #FDFDFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: Poppins, sans-serif;

  background: var(--color-primary);
  color: var(--color-light);
}

#app {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}





