.icon-btn {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 8px;

  background: transparent;
  color: #a1a1aa;

  cursor: pointer;

  transition: all .2s ease;
}

.icon-btn:hover {
  background: rgba(255,255,255,.08);
  color: white;
}

.icon-btn:active {
  transform: scale(.95);
}

.icon-btn:hover {
  background: rgba(255,255,255,.06);
  color: var(--color-light);
  transform:translateY(-1px);
  opacity:.85;
}

/* DATE */

.date {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap:wrap;
  gap:6px;
  width:max-content;    
}


.date-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap:wrap;
  width:max-content; 
  color:var(--color-text-secondary);
  font-size:.8rem;
  background:rgba(255,255,255,.04);
  border-radius:6px;
  padding: 4px 8px;
}


.date p {
  margin:0;
}


.date-content.done {
  color:#22c55e;
  background:rgba(34,197,94,.12);
}

.warning {
  padding:3px 8px;
  border-radius:6px;
  font-size:.8rem;
  font-weight:500;
}

.overdue-warning {
  color:#ef4444;
  background:transparent;
}

.today-warning {
  color:#f59e0b;
  background:transparent;
}


/* ACTIONS */

.actions {
  position: relative;
  display: flex;
  align-items: center;
}

.actions.completed {
  opacity: 1;
}

.options-menu {
  position: absolute;
  opacity: 1;
  top: calc(100% + 8px);
  right: 0;

  width: 180px;

  display: flex;
  flex-direction: column;

  background: var(--color-primary-dark);

  border: 1px solid rgba(255,255,255,.06);
  border-radius: 12px;

  box-shadow: 0 12px 30px rgba(0,0,0,.35);

  overflow: hidden;

  z-index: 100;
}

.option-btn {
  width: 100%;

  display: flex;
  align-items: center;

  padding: 12px 16px;

  border: none;
  background: transparent;

  color: var(--color-light);

  font-family: Poppins, sans-serif;
  font-size: .9rem;

  cursor: pointer;
  gap: 10px; 
  
  transition: .2s;
  opacity: 1;
}

.option-btn:hover {
  background: rgba(255,255,255,.05);
}
